{% extends 'base.html' %}

{% block header %}
    {% block title %}Register{% endblock %}
{% endblock %}

{% block content %}
    <h1>Register recipt</h1>
    <div class="row">
        <div class="col-4">
            <img src="{{ url_for('images.static',filename=recipt.filename) }}" class="img-fluid">
        </div>
        <div class="col">
            <form method="POST">
                <label for="purchase-date" class="form-label">購入日</label>
                <input type="date" class="form-control" name="purchase-date" value="{{ recipt.date }}">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">品名</th>
                            <th scope="col">価格</th>
                            <th scope="col">割引</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td><input type="text" class="form-control" name="item-name" value="{{item.name}}"></td>
                                <td><input type="number" class="form-control" name="item-price" value="{{item.price}}"></td>
                                <td><input type="number" class="form-control" name="item-discount" value="{{item.discount}}"></td>
                            </tr>
                        {% endfor %}
 
                        {% for i in range(3) %}
                            <tr>
                                <td><input type="text" class="form-control" name="item-name"></td>
                                <td><input type="number" class="form-control" name="item-price"></td>
                                <td><input type="number" class="form-control" name="item-discount"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="submit" class="btn btn-primary" name="register" value="登録">
                <input type="submit" class="btn btn-secondary" name="add-row" value="行追加">
            </form>
        </div>
    </div>
{% endblock %}